<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            BANCOPORTUNIDADES
        </title>
        <link rel="shortcut icon" href="icono.png">
        <link rel="stylesheet" type="text/css" media="all"  
              href="../../css/estilos.css" th:href="@{/css/estilos.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nerko+One&display=swap" rel="stylesheet">
        <script src="javascrip.js"></script>
    </head>
    <body>
        <header class="cabeza">
            <P class="banco">BANCOPORTUNIDADES <a th:href="@{/Bank/Usuario}" class="opbanca">Usuario</a><a th:href="@{/Bank/clientes/list}" class="opbanca">Administrador</a></P>
            
        </header>
        <div class="principal">    
            <div>
            <h2>Hoy el mundo te reta a manejar tu dinero como nunca lo habías hecho</h2>
            <h4>Haz todas las operaciones bancarias que necesitas desde nuestros canales
                digitales y recibe ayuda al instante.</h4>
            </div>
        </div>
        <div class="principa2">    
            <div>
            <h1>Operaciones de usuario</h1>
            <p>Siendo un usuario del banco de oportunidades tendras las siguientes operaciones: <br><br>
                Consultar tu saldo <br>
                Retirar dinero <br>
                Depositar en tu cuenta</p>
            </div>
        </div>
        
    <footer>
        <div class="barra-footer">
            &copy; Derechos reservados
        </div>
    </footer>
</html>
