
<!DOCTYPE html>
<html xmlns :th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <title>CUENTAS</title>
        <link rel="shortcut icon" href="icono.png">
        <link rel="shortcut icon" href="icono.png">
        <link rel="stylesheet" type="text/css" media="all"  
              href="../../css/estilos.css" th:href="@{/css/estilos.css}" />
    </head>
    <body background="Fondo.jpg">
        <header class="cabeza">
            <P class="banco">
                BANCOPORTUNIDADES
                <a th:href="@{/Bank/clientes/list}" class="opregre" style="position: relative; left: 30%;">Clientes</a>
                <a th:href="@{/Bank/ciudad/list}" class="opregre" style="position: relative; left: 30%;">Ciudades</a>
                <a th:href="@{/Bank/movimiento/list}" class="opregre" style="position: relative; left: 30%;">Movimientos</a>
            </P>

        </header>
    <body>
        <div class="centrar2">
            <p><strong>LISTA DE CUENTAS</strong></p>
        </div>
        <a th:href="@{/Bank/cuenta/new}" class="opregreC" style="position: relative; left: 45%; top: -15px;">CREAR</a>
        <div class="containerCiu">
            <div class="modal-opciones5">
                <table class="table0">
                    <td><strong>CODIGO</strong></td> 
                    <td><strong>TIPO</strong></td>
                    <td><strong>ESTADO</strong></td>
                    <td><strong>ACCIONES</strong></td><br>
                    <tr class="table2" th:each="cuenta:${cuenta}">
                        <td th:text="${cuenta.codigo_cta}"></td>
                        <td th:text="${cuenta.nombre}"></td>
                        <td th:text="${cuenta.estado}"></td>
                        <td style="width: 25%;">
                            <a th:href="@{/Bank/cuenta/}+${cuenta.codigo_cta}" class="AccionE">EDITAR</a>
                            <a th:href="@{/Bank/cuenta/delete/}+${cuenta.codigo_cta}" class="Accion">ELIMINAR</a>
                        </td>
                    </tr>

                </table>

            </div>
        </div>
    </body>
</body>
</html>
